body {
  background-color: black;
  color: #ffffff;
  width: 1270px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 1310px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
header h1 {
  color: #007d7b;
}
header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}
header nav ul li a:hover {
  color: #007d7b;
}
header nav ul li:last-child {
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color: #007d7b;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-size: 16px;
}
header nav ul li:last-child:hover {
  background-color: #ff8284;
}

main {
  background-color: #ffffff;
  color: black;
}
main h2 {
  font-size: 40px;
}
main #about {
  display: grid;
  grid-template-columns: 850px 420px;
  padding: 10px;
}
main #about h2 {
  padding: 0;
  margin: 0;
}
main #about #about-txt {
  font-size: 20px;
  text-align: right;
}
main #gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1310px;
}
main #gallery h2,
main #gallery p {
  margin: 0;
  margin-left: 12.5px;
  margin-bottom: 5px;
}
main #gallery p {
  font-size: 20px;
}
main #gallery #pictures {
  display: grid;
  place-self: center;
  gap: 12.5px;
  grid-template-columns: 420px 420px 420px;
  color: #ffffff;
  font-size: 16px;
}
main #gallery #pictures .img-container {
  margin: 0;
  position: relative;
}
main #gallery #pictures .img-container img {
  width: 420px;
  position: relative;
}
main #gallery #pictures .img-container .txt-container {
  position: absolute;
}
main #gallery #pictures .img-container#chile, main #gallery #pictures .img-container#iran, main #gallery #pictures .img-container#mountains, main #gallery #pictures .img-container#switzerland {
  color: black;
}
main #gallery #pictures .img-container#desert .txt-container {
  right: 40px;
}
main #gallery #pictures .img-container .left {
  left: 10px;
}
main #gallery #pictures .img-container .right {
  right: 20px;
}
main #gallery #pictures .img-container .bottom {
  bottom: 10px;
}
main #gallery #pictures .img-container .top {
  top: 5px;
  left: 10px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#contact h2 {
  font-size: 40px;
}
#contact > * {
  margin: 0;
  padding: 0;
}
#contact p {
  font-size: 20px;
}
#contact input,
#contact input::placeholder {
  color: #007d7b;
  height: 30px;
}
#contact input::placeholder {
  text-transform: uppercase;
  font-weight: bold;
}
#contact label {
  font-size: 16px;
}
#contact form {
  display: grid;
  grid-template-columns: 1fr;
  width: 850px;
  text-align: left;
  gap: 5px;
  text-transform: uppercase;
}
#contact form > * {
  width: 100%;
}
#contact form button {
  background-color: #007d7b;
  color: #ffffff;
  width: 25%;
  font-size: 16px;
  border: none;
  justify-self: center;
  padding: 5px;
  border-radius: 15px;
}

footer {
  clear: both;
  text-align: center;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
